<h1>Iromusubi</h1>
<h3>Iromusubi詳細</h3>
<div class="post">
  <p><%= @post.name %></p>
  <p><%= @post.about %></p>
  <p><%= @post.date %></p>
  <%= image_tag @post.image_url, size: "250x200" if @post.image? %><br>
  <p><%= @post.created_at %></p>
    <% if user_signed_in? %>
      <% if current_user.already_liked?(@post) %>
        <%= link_to post_like_path(@post), method: :delete do %>
          <p>いいねを取り消す</p><%= @post.likes.count %>
        <% end %>
      <% else %>
        <%= link_to post_likes_path(@post), method: :post do %>
          <p>いいね</p><%= @post.likes.count %>
        <% end %>
      <% end %>
    <% else %>
      <p>いいねの数 = </p><%= @post.likes.count %>
    <% end %>
  <%= link_to "編集する", edit_post_path(@post.id) %>
</div>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
    
      <br>
      <%= c.content %>
    </div>
      <br>

  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>

    <% if user_signed_in? && current_user.id == c.user_id %>
        <%= button_to "削除する", post_comment_path(c.id), method: :delete %>
    <% end %>
    
  <% end %>
  <% end %>
</div>

<%= link_to "Post一覧に戻る", posts_path %>