<!DOCTYPE html>
<html>
  <head>
    <title>彩結び</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      
      <div class="header-list">
        <ul>
        
        <div class="openbtn"><span></span><span></span><span></span></div>
        <nav id="g-nav">
           <div id="g-nav-list">
         <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
           <ul>
           <li>
              <%= link_to "TOP",  root_path %>
            </li>

            <li>
              <%= link_to "伝統のささやき",  one_path %>
            </li>

            <li>
              <%= link_to "診断",  sindans_new_path %>
            </li>

            <li>

            <% if user_signed_in? %>
              <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
            <% end %>
           
            </li>


            <li>
            <% if user_signed_in? %>
            <%= link_to "マイページ", user_path(current_user.id) %>
            <% end %>
            </li>

            <li>
            <%= link_to "一覧", posts_path %>
            </li>

            <li>
            <%= link_to "新規投稿", new_post_path %>
            </li>
            </ul>


      </ul>
    </div>
          </nav>
    </header>
      </div>
    
    <main>
      <%= yield %>
   

<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

 <script>
$(".openbtn").click(function () {
 $(this).toggleClass("active");
 $("#g-nav").toggleClass("panelactive");
});
$("#g-nav a").click(function () {
 $(".openbtn").removeClass("active");
 $("#g-nav").removeClass("panelactive");
});
</script>

</main>
</body>

</html>